/* Formatted styling for the heading
used display flex, to use flexbox */
/*  */
body {
    font-family: "comic sans ms";
    margin: 0;
}
#body {
    width: 750px;
    margin: auto;
}
#header { 
    display: flex;
    width: 100%;
    align-items: baseline;
    border: 5px solid pink;
    padding: 5px;
    background: purple;
}
 ul {
    display: flex;
    
}
 h1 {
    flex-grow: 10;
    margin: 10px 0 10px 0
}

 li {
    margin-left: 10px;
    margin-right: 10px;
}


th, td {
    border: 5px solid black
}
