/* Formatted styling for the heading
used display flex, to use flexbox */

/*Made a body id to style the rest of the page after the heading  */
body {
    font-family: "comic sans ms";
    margin: 0;
}
#body {
    width: 750px;
    margin: auto;

}
/* Added colours, alignment, border and a background to the header. 
Set the width of the header so it looks nicer on the page */
#header { 
    display: flex;
    align-items: baseline;
    border: 5px solid pink;
    padding: 5px;
    background: purple;
    flex-grow: 1;
}


 /* added a ID to h1 tag to control it's margins and to have a responsive auto positioning with flex grow */
 #header h1 {
    flex-grow: 10;
    margin: 10px 0 10px 0
}



th, td {
    border: 5px solid black
}
